* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: gray;
}

header {
  background-color: bisque;
  max-width: 1200px;
  height: 330px;
  margin: auto;
  padding: 10px 20px;
  background-image: url(Images/header.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center 53%;

  position: relative; /*Para que funcione el .overlay*/
}

.overlay {
  background-color: black;
  position: absolute;
  width: 1100px;
  height: 130px;
  opacity: 0.1;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.logo,
.menu,
.social {
  display: flex;
  align-items: center;
}

.logo img {
  height: 55px;
}

.menu {
  gap: 120px;
}

.center-area {
  flex: 1;
  display: flex;
  justify-content: center;
}

.social {
  gap: 15px;
  padding-right: 30px;
}

.eslogan {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding-top: 138px;
  color: darksalmon;
}

.contenido {
  display: flex;
  flex: 1;
  width: 1200px;
  margin: auto;
  gap: 8px;
  margin-top: 8px;
}

#caracteristicas,
.something {
  background-color: rgb(220, 220, 220);
}

#caracteristicas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 15px;
  flex: 1;
}

#caracteristicas p {
  column-count: 2;
}

.something {
  width: 200px;
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.cultura,
.gastronomia,
.turismo,
.vida-nocturna {
  background-color: white;
  padding: 15px 15px 1px 15px;
  margin: 0;
}

.imagen-caracteristica img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imagen-caracteristica {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 5px;
}

h3 {
  background-color: rgb(228, 134, 137);
  padding: 5px 3px 1px 3px;
  color: white;
  margin: 0;
}
